# 统一代码工具解决方案
# editorconfig.org

# root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true


[*.md]
# md是一种markdone文件
trim_trailing_whitespace = false

